@model Nwd.BackOffice.Model.Album

@{
    ViewBag.Title = "Edit Album";
}

<h2>
    @ViewBag.Title
</h2>

<p>
    <span class="glyphicon glyphicon-list"></span>
    @Html.ActionLink("Back to List", "ListeAlbums")
</p>

<hr />


@if (ViewBag.AlbumEdited)
{
    <div class="alert text-center alert-success">
        Album edited!
    </div>
}


@using (Html.BeginForm("Edit", "Album", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" name="@Html.NameFor(model => model.Title)" value="@Model.Title" />
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Duration, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input placeholder="00:00:00" type="text" class="form-control" value="@Model.Duration"  name="@Html.NameFor(model => model.Duration)" />
                @Html.ValidationMessageFor(model => model.Duration)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReleaseDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" class="form-control" value="@Model.ReleaseDate" name="@Html.NameFor(model => model.ReleaseDate)" />
                @Html.ValidationMessageFor(model => model.ReleaseDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" value="@Model.Type" name="@Html.NameFor(model => model.Type)" />
                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CoverFile, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" class="form-control" name="@Html.NameFor(model => model.CoverFile)" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Artist.Name, "Artiste", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" value="@Model.Artist.Name" name="@Html.NameFor(model => model.Artist.Name)" />
                @Html.ValidationMessageFor(model => model.Artist.Name)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div> 
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
